<template>
<v-app>
  <v-container>
    <v-row>
      <v-col cols="8">
        <h1 style="color: #4AC58E; text-align:center;">Le/Tip</h1>
      </v-col>
      <v-col cols="2">
        <v-switch v-model="$vuetify.theme.dark" inset label="Dark" persistent-hint></v-switch>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6" sm="12">
        <v-card class="pa-2" style="text-align:center; color: #4AC58E;">
          <v-col>
            <v-row>
              <v-col cols="4">
                <v-subheader style="color: #4AC58E">coin: {{coin}}</v-subheader>
              </v-col>
              <v-col cols="8">
                <v-btn-toggle v-model="coin" style="border: solid 3px #4AC58E;">
                  <v-btn value="usd">
                    <v-icon style="color: #4AC58E">mdi-currency-usd</v-icon>
                  </v-btn>
                  <v-btn value="eur">
                    <v-icon style="color: #4AC58E">mdi-currency-eur</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-subheader style="color: #4AC58E">Valor:</v-subheader>
              </v-col>
              <v-col cols="8">
                <v-text-field v-model="comanda" type="number" outlined style="color: #4AC58E" autofocus></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-subheader class="pl-0" style="color: #4AC58E">
                  Gorjeta {{sliderGorjeta}} %
                </v-subheader>
                <v-slider v-model="sliderGorjeta" :thumb-size="30" thumb-label min="10" max="20">
                  <template v-slot:thumb-label="{ value }">
                    {{ satisfactionEmojis[Math.min(Math.floor(value / 10), 9)] }}
                  </template>
                </v-slider>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-subheader class="pl-0" style="color: #4AC58E">
                  Pessoas {{pessoas}}
                </v-subheader>
                <v-slider v-model="pessoas" thumb-label min="2" max="16"></v-slider>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
      </v-col>
      <v-col cols="12" md="6" sm="12">
        <v-card class="pa-3" style="text-align:center; color: #4AC58E;">
          <v-sheet v-mutate="onMutate" style="text-align:center; color: #4AC58E;">
            <p>
              Conta: <br>
              <v-icon style="color: #4AC58E; font-size:16px;">mdi-currency-{{coin}}</v-icon>
              {{conta}}
            </p>
          </v-sheet>
          <v-sheet v-mutate="onMutate" style="text-align:center; color: #4AC58E;">
            <p>
            Gorjeta: <br>
            <v-icon style="color: #4AC58E; font-size:16px;">mdi-currency-{{coin}}</v-icon>
            {{gorjeta}}
          </p>
          </v-sheet>
          <v-sheet v-mutate="onMutate" style="text-align:center; color: #4AC58E;">
            <p>
            Total: <br>
            <v-icon style="color: #4AC58E; font-size:16px;">mdi-currency-{{coin}}</v-icon>
            {{total}}
          </p>
          </v-sheet>
          <v-sheet v-mutate="onMutate" style="text-align:center; color: #4AC58E;">
            <p>
            por Pessoa: <br>
            <v-icon style="color: #4AC58E; font-size:16px;">mdi-currency-{{coin}}</v-icon>
            {{perPerson}}
          </p>
          </v-sheet>
          <v-sheet v-mutate="onMutate" style="text-align:center; color: #4AC58E;">
            <p>
            em R$: <br>
            <v-icon style="color: #4AC58E; font-size:16px;">mdi-currency-brl</v-icon>
            {{real}}
          </p>
          </v-sheet>
        </v-card>
      </v-col>
    </v-row>
    <v-card-text style="height: 100px; position: relative">
      <v-fab-transition>
        <v-btn color="#4AC58E" absolute dark top right fab @click="mostrar = !mostrar">
          <v-icon :class="!mostrar? '' : 'mdi-flip-h'">mdi-greater-than</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-card-text>
  </v-container>
</v-app>
</template>

<script>
import axios from 'axios';
export default {
  name: "App",
  data: () => ({
    dolar: '',
    euro: '',
    conta: '0',
    gorjeta: '',
    total: '',
    perPerson: '',
    satisfactionEmojis: ['😭', '😢', '☹️', '🙁', '😐', '🙂', '😊', '😁', '😄', '😍'],
    sliderGorjeta: '',
    pessoas: 0,
    coin: 'usd',
    mostrar: false,
    hidden: false,
    real: '',
    comanda: '',
    mutations: 0,
  }),
  watch: {
    comanda: function (val) {
      let v = ''
      let currency = this.coin.toUpperCase()
      v = val.toLocaleString('pt-br', {
        style: 'currency',
        currency: currency
      })
      /* v = val.replace(/\D/g,'');
      v = (v / 100).toFixed(2) + '';
      v = v.replace(".", ",");
      v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
      v = v.replace(/(\d)(\d{3}),/g, "$1.$2,"); */
      this.conta = parseFloat(v)
      this.sliderGorjeta
      this.reais()
    },
    sliderGorjeta: function (val) {
      this.gorjeta = (this.conta * val) / 100;
      this.pessoas;
      this.reais();
    },
    pessoas: function (val) {
      this.perPerson = this.total / val;
      this.reais();
    },
  },
  async created() {
    await axios
      .get('https://economia.awesomeapi.com.br/all/USDT-BRL,EUR-BRL')
      .then(response => (
        this.dolar = parseFloat(response.data.USDT.bid),
        this.euro = parseFloat(response.data.EUR.bid.slice(0, -2))
      ))
  },
  methods: {
    reais() {
      this.total = this.conta + this.gorjeta
      let r = ''
      if (this.coin === "usd") {
        r = this.total * this.dolar
      } else {
        r = this.total * this.euro
      }
      r.toLocaleString('pt-BR', {
        minimumFractionDigits: 2
      })
      return this.real = r;
    },
    //função do vuetify, subtitui o watcher
    onMutate () {
      console.log(this.mutations++)
    },
  }
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 75px;
}
</style>
